---
import { PROJECTS } from "../../constants";
---

<section id="projects" class="overflow-y-auto flex-col p-8">
  <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      PROJECTS.map((project) => (
        <div class="flex h-full flex-1 flex-col gap-4 p-4 transition-all bg-ctp-surface0/50 hover:bg-ctp-surface1">
          <a
            href={project.codeUrl ?? project.siteUrl}
            aria-label={project.title}
            target="_blank"
            rel="noopener noreferrer"
            class="text-xl font-bold text-ctp-text w-fit hover:text-ctp-blue hover:underline transition-all"
          >
            {project.title}
          </a>
          <p class="text-start text-base text-ctp-subtext1">
            {project.description}
          </p>
          <div class="text-start font-mono text-sm">
            {project.technologies.map((technology) => (
              <a
                aria-label={`Go to the ${technology.name} website`}
                href={technology.url}
                rel="noreferrer"
                target="_blank"
                class="my-1 me-2 inline-flex bg-ctp-mantle hover:opacity-75 text-ctp-blue px-2 py-1 transition-all"
              >
                {technology.name}
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
